// --------- footer ----------
.footer {
  .copy {
    background: $main;
    width: 100%;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    color: $bg;
  }
}

// --------- header ----------
.header {
  padding: 20px 0;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    margin-right: 120px;
  }
  .list {
    display: flex;
    align-items: center;
  }
  .item {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    padding-bottom: 7px;
    &::after {
      transition: 0.2s;
      content: '';
      position: absolute;
      background-color: $main;
      height: 1px;
      width: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:hover {
      a {
        color: $white;
      }
      &:after {
        width: 50%;
      }
    }
  }
  .btn {
  }
}

// --------- question ----------
.question {
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  .left {
  }
  .question__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 7px;
  }
  .tagList {
    margin-bottom: 10px;
  }
  .tag {
  }
  .date {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
  }
  .right {
    padding-left: 25px;
    .item:not(:last-child) {
      margin-bottom: 13px;
    }
    border-left: 2px solid rgba(242, 236, 248, 0.1);
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      fill: $white;
      width: 25px;
      height: auto;
      margin-right: 13px;
    }
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .answer {
    svg {
      fill: $main;
      width: 15px;
    }
    p {
      color: $main;
    }
  }
  .favorite {
    position: absolute;
    cursor: pointer;
    top: -5px;
    right: 120px;
    transition: 0.2s;
  }
  .active {
    // fill: $main;
  }
}

// --------- main ----------
.main__inner {
  margin: 85px 0 150px;
  display: flex;
  justify-content: space-between;
  .sidebar {
    width: 25%;
    margin-right: 75px;
  }
  .content {
    width: 75%;
  }
  .questions {
    .question:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}

// --------- content ----------
.content {
  background-color: $purple2;
  padding: 50px;
  .title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  .search {
    margin-bottom: 65px;
    input {
      width: 95%;
    }
  }
  .filters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .select {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    p {
      font-size: 16px;
      line-height: 18px;
      margin-right: 13px;
    }
    svg {
      width: 12px;
      height: auto;
      fill: $white;
    }
  }
  .answers {
    display: flex;
    align-items: center;
    .item:not(:last-child) {
      margin-right: 25px;
    }
    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        font-size: 16px;
        margin-right: 13px;
        transition: 0.2s;
      }
      svg {
        width: 12px;
        height: auto;
        fill: $white;
        transition: 0.2s;
      }
    }
    .item.active {
      color: $main;
      svg {
        fill: $main;
      }
    }
  }
}

// --------- pagination ----------
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
  .list,
  .skip {
    display: flex;
    align-items: center;
  }
  .item {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: $gray;
    &:hover {
      color: #000;
      svg {
        fill: #000;
      }
    }
    svg {
      transition: 0.2s;
      fill: $main;
      width: 10px;
      height: 15px;
    }
    &:not(:last-child) {
      margin-right: 25px;
    }
    &.active {
      color: $bg;
      border-radius: 50%;
      background-color: $main;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
  .input {
    max-width: 55px;
    margin-right: 15px;
    input {
      text-align: center;
      padding: 5px;
      border: 1px solid $main;
    }
  }
}
